/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* ss
    Created on : Nov 4, 2015, 4:29:52 PM
    Author     : James
*/
@import url(https://fonts.googleapis.com/css?family=Oswald|Montserrat|Indie+Flower|Lobster|Anton);

:root{
    background: #343477;
}

a{
    color: #AA3C39;
}

body{
    font-family: 'Indie Flower', cursive;
    border-style: solid;
}

h2{
    color: #7A9F35;
    font-weight: 900;
}

.paragraph{
    color: #7A9F35;
    font-size: 20px;
}

.image{
    max-height: 100px;
    max-width: 50%;
    max-height: 50%;
}

.slide{
    max-width: 50px;
    max-height: 50px;
    max-width: 50%;
    max-height: 50%;
}

.imageDiv{
    max-height: 100px;
}

.navigation{
    text-align: center;
}

nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 25px;
}

nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    font-size: 25px;
}

.banner{
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.bannerIMG{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    text-align: center;
}