/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2015, 5:03:53 PM
    Author     : James
*/

@import url(https://fonts.googleapis.com/css?family=Oswald);
.root{
    -fx-background-color: #5A5AE9;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
    -fx-background-color: #EC41BD;
    -fx-font-family: 'Oswald', sans-serif;
}

.settings {
    -fx-background-color: #41EB7B;
}

.header {
    -fx-font-size:2em;  
}