/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2015, 4:29:52 PM
    Author     : James
*/
@import url(https://fonts.googleapis.com/css?family=Oswald|Montserrat|Indie+Flower|Lobster|Anton);

:root{
    background: #AA7539;
}

a{
    color: #532B72;
}

body{
    font-family: 'Lobster', cursive;
    border-style: solid;
}

h2{
    color: #2B4C6F;
    font-weight: 900;
}

.paragraph{
    color: #2B4C6F;
    font-size: 20px;
}
.image{
    max-height: 100px;
    max-width: 50%;
    max-height: 50%;
}

.slide{
    max-width: 50px;
    max-height: 50px;
    max-width: 50%;
    max-height: 50%;
}

.imageDiv{
    max-height: 100px;
}

#navigationMenu{
    font-family: 'Oswald', sans-serif;
    position: fixed;
    top: 50%;
    list-style:none;
    height:39px;
    padding:2px;
    width:100px;
    line-height: 2em;
    padding: 0.5em 0.5em;
}

.banner{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.bannerIMG{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    text-align: center;
}